name: dotnet pr

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main", "develop"]

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

jobs:
  ut:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json
      - uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-nuget-${{ hashFiles('Directory.Packages.props') }}
          restore-keys: |
            ${{ runner.os }}-nuget
      - name: Fetch build dependencies
        run: bash scripts/fetch_build_dependency.sh
      - name: Restore dependencies
        run: |
          dotnet restore Docky.Sdk.slnx
      - name: Run dotnet test
        run: |
          dotnet test Docky.Sdk.slnx --configuration Release --logger trx --results-directory ./TestResults
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            TestResults/**/*.trx
